<body class = "bg">	
	<!-- 2 Panel Style. Left is Title, classifications and right is description-->
	<div class = "allWrap">
		<div class = "row">
			<div class ="bigTitle">A Game of Cat and Mouse</div>
		</div>
		<div class = "row">
			<div class ="subBigTitle">The hunt for number one</div>
		</div>
		<div class = "video">
			<iframe width="800vw"height="450vw" src="//www.youtube.com/embed/iRqNLRIac8o" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class = "row">
			<!-- Description section -->
			<div class = "col-md-6">
				<div class = "descriptionContainer">
					<div class = "row">
						<div class="descSubtitle">Synopsis</div>
						<div class="descElab">
							<p>
								A band of 5 first-year Engineering Science Students search for the one at the top of the class. Through sheer perseverance and a dash of group nuttiness, they discover something deeper. 
							</p>
							<p>
							</p>

							<p>
							</p>
							
						</div>
					</div>
				</div>
			</div>
			<!-- Title, brief, photo section -->
			
			<div class = "col-md-6">
				<div class = "bulletContainer">
					<div class = "row">
						<div class = "col-md-3 text-center left_img">
							<div class = "ci_cont">
								<%=image_tag("when_icon.png", :alt => "placeholder", :class => "circle_icon")%>
							</div>
						</div>
						<div class = "col-md-9 right_descrip">
							<div class ="iconBriefContainer">
								<p>Engineering Science Dinner Dance Movie 2014</p> 
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-3 text-center left_img">
							<div class = "ci_cont">
								<%=image_tag("materials_icon.png", :alt => "placeholder", :class => "circle_icon")%>
							</div>
						</div>
						<div class = "col-md-9 right_descrip">
							<div class ="iconBriefContainer">
								<p>Canon 60D</p>
								<p>Adobe Premiere </br>Adobe After Effects </br>Adobe Audition </p>
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-3 text-center left_img">
							<div class = "ci_cont">
								<%=image_tag("teammates_icon.png", :alt => "placeholder", :class => "circle_icon")%>
							</div>
						</div>
						<div class = "col-md-9 right_descrip">
							<div class ="iconBriefContainer">
								<ul class = "film_members">
									<li class = "film_members">Director, filmographer, editor: Kevin Zhu</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- <div class = "row"> -->
						<!-- <div class ="carouselContainer"> -->
							
						<!-- </div> -->
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</body>
