<body class = "bg">	
	<!-- 2 Panel Style. Left is Title, classifications and right is description-->
	<div class = "allWrap">
		<div class = "row">
			<div class ="bigTitle">myoWASD</div>
		</div>
		<div class = "row">
			<div class ="subBigTitle">Control your feet with your forearm!</div>
		</div>
		<div class = "row">
			<!-- Description section -->
			<div class = "col-md-6">
				<div class = "descriptionContainer">
					<div class = "row">
						<div class="descSubtitle">What it is</div>
						<div class="descElab">
							<p>
								Created with the Oculus Rift experience in mind, myoWASD controls player movement in four directions.
							</p>
							<p>
								The Thalmic Myo has a 5 preprogrammed gestures out of the box.  
							</p>
							<p>
								Assuming the Myo is on your right arm:
							</p>
							<ul>
								<li>Open Hand: Move Forward (W)</li>
								<li>Fist: Move Backward (S)</li>
								<li>Wave in: Strafe Left (A) </li>
								<li>Wave right: Strafe Right (D)</li>
							</ul>
							<p>
														
							</p>
						</div>

						<div class="descSubtitle">Motivation</div>
						<div class="descElab">
							<p>
								This small project was inspired by my first experience with the Oculus Rift. 
							</p>
							<p>
								Walking around was confined to the WASD keys if one doesn't have a controller. Plus, holding something in your hand sullies the entire experience. With this, simple gestures move you around while also giving you the ability to hold things, thus creating a modular base foundation for roaming Oculus experiences.
							</p>
						</div>
						<div class="descSubtitle">Source Code</div>
						<div class="descElab">
							You can check out the source code <a href="https://github.com/Bazhunga/myo_oculus_controller">here</a>!<br>
						</div>
					</div>
				</div>
			</div>
			<!-- Title, brief, photo section -->
			<div class = "col-md-6">
				<div class = "row">
					<div class = "mediaContainer">
						<div id="carousel-example-generic" class="carousel slide" data-ride="false" data-interval="false">
						  	<!-- Indicators -->
						  	<ol class="carousel-indicators">
						    	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						    	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						    	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							  </ol>

						  	<!-- Wrapper for slides -->
						  	<div class="carousel-inner" role="listbox">
						    	<div class="item active">
					      			<%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "carouImage") %>
						    	</div>
						    	<div class="item">
						      		<%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "carouImage") %>
						    	</div>
						    	<div class="item">
						      		<%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "carouImage") %>
						    	</div>
						    	
							</div>

						  	<!-- Controls -->
						  	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    	<span class="sr-only">Previous</span>
						  	</a>
							<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    	<span class="sr-only">Next</span>
							</a>
						</div>
						<!-- <div class = "row"> -->
							<!-- <div class ="carouselContainer"> -->
								
							<!-- </div> -->
						<!-- </div> -->
					</div>
				</div>
				<div class = "row">
					<div class = "bulletContainer">
					
					<div class = "row">
						<div class = "col-md-3">
							<div id="circle"></div>
						</div>
						<div class = "col-md-9">
							<div class ="iconBriefContainer">
								<p>Android Device</p>
								<p>Android Studio</p>
								<p>Yahoo Weather, Google Maps, Google Translate, Priceline, Semantics3, Viacom</p>
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-3">
							<div id="circle"></div>
						</div>
						<div class = "col-md-9">
							<div class ="iconBriefContainer">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In enim diam, euismod vitae pharetra in, fermentum eget risus. Duis sit amet est consequat, consectetur urna non, sollicitudin quam.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In enim diam, euismod vitae pharetra in, fermentum eget risus. Duis sit amet est consequat, consectetur urna non, sollicitudin quam.</p>
							</div>
						</div>
					</div>
					<!-- <div class = "row"> -->
						<!-- <div class ="carouselContainer"> -->
							
						<!-- </div> -->
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</body>


