<body class = "bg">
<div class = "super_div" id = "banner_about">
	<div class = "centerpiece_about scene_fadein" >
		<table class = "about_table" style="width:100%; align: center">
			<tr class = "abt">
				<td class = "pic">
					<image>
						<%= image_tag("DemoDay.jpg", :alt => "Kevin Zhu", :class => "profile-picture")%> 	
					</image>
				</td>
				<td class = "text">
					<div class="intro-text">
						<h1>Kevin Zhu</h1>
						<p class = "motto">Live to learn. Learn to aspire. Aspire to build.</p>
						<p.block>Welcome!</p>
						<p.block>I'm an Engineering Science student at the University of Toronto studying Electrical Engineering. </p>
						<p.block>I have a strong interest in design and development and I enjoy pushing forth functionality and a positive user experience on any sort of platform. I love building creative solutions to any kind of issue, ranging from mitigating road rage to tracking players to create detailed heat maps on any sports field. </p>
						<p.block>Check out my <%= link_to "projects", projects_path %> and other interests!</p>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

</body>