<div class = "centerpiece_about" >
	<image>
		<%= image_tag("DemoDay.jpg", :alt => "Kevin Zhu", :class => "profile-picture")%> 	
	</image>
	<div class="rightPanel">
		<div class="intro-text">
			<h1>Kevin Zhu</h1>
			<p class = "motto">Live to learn. Learn to aspire. Aspire to build.</p>
			<p.block>Welcome to my personal site! Let me introduce myself.</p>
			<p.block>I'm an Engineering Science student at the University of Toronto studying Electrical Engineering. </p>
			<p.block>I also love building creative solutions to any kind of issue, ranging from mitigating road rage to tracking players to create detailed heat maps on any sports field. </p>
			<p.block>Check out my <%= link_to "projects", projectsSoftware_path %> and other interests!</p>
		</div>
	</div>
</div>