<image>
	<%= image_tag("DemoDay.jpg", :alt => "Kevin Zhu", :class => "profile-picture")%> 	
</image>

<div class="intro box">
	<h1>Kevin Zhu</h1>
	<p class = "motto">Live to learn. Learn to aspire. Aspire to build</p>
	<p.block>Welcome to my personal site! Let me introduce myself.</p>
	<p.block>I'm an Engineering Science student at the University of Toronto studying Electrical Engineering. </p>
</div>