$navbar-height: 40px;
$navbar-default-bg: #1774AD;
$navbar-default-brand-color: #FFF;
$navbar-default-border: #536899;
$navbar-default-link-active-bg: #1A83C4;
$navbar-default-link-active-color: #BDBDBD;
$navbar-default-link-hover-color: #FF9A65;
$navbar-default-link-color: #FFF;
$body-bg: #000000;
$font-family-sans-serif: 'Lato', sans-serif;
$text-color: #DBDBDB;


@import "bootstrap-sprockets";
@import "bootstrap";




.dropdown:hover .dropdown-menu {
    display: block;
}

.constructionBanner{
	background-color: red;
	text-align: center;
	color: black;
}

.text-muted{
	color: black;
	font-size: 20px;
}

.footer{
	position: fixed;
	bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
}