$navbar-height: 44px;
$navbar-default-bg: rgba(0, 105, 217, 0.6);
$navbar-default-brand-color: #FFF;
$navbar-default-border: #536899;
$navbar-default-link-active-bg: #1A83C4;
$navbar-default-link-active-color: #BDBDBD;
$navbar-default-link-hover-color: #FF9A65;
$navbar-default-link-color: #FFF;
$body-bg: #000000;
$font-family-sans-serif: 'Lato', sans-serif;
$text-color: #DBDBDB;


@import "bootstrap-sprockets";
@import "bootstrap";


.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
	font-size:      1.1vw;
	font-family: 'Coda', sans-serif;
}

a.navbar-brand {
	font-size: 2vw;
	font-family: 'Coda', sans-serif;
	font-style: italic;
	letter-spacing: 3px;
	padding-left: 3vw;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.constructionBanner{
	background-color: red;
	text-align: center;
	color: black;
}

.text-muted{
	color: black;
	font-size: 20px;
}

.footer{
	position: fixed;
	bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
}