$maxpicwidth: 352px;
$darkblue: #346183;
$darkerblue: #121d24;



//*******************************************************
//About Page
//*******************************************************

.bg{
	background: url(sbg_cube_darkblur.jpg) repeat fixed;
	background-size: 100%;
	background-position: -5px -5px;
}

.about_table{
	table-layout: fixed;
}

td.pic{
	width: 30%;
}
td.text{
	width: 60%;
}

.centerpiece_about{
	background: rgba(8, 74, 114, 0.25);
	padding: 26px 26px;

}
.centerpiece_about {
	margin-left: auto;
	margin-right: auto;
	margin-top: 8.5%;
	margin-bottom: auto;
	padding-left: 20%;
	padding-right: 20%;

}

.profile-picture{
	// width: $maxlength;
	// height: $maxlength;
	border-radius: 300px;
    max-width: 100%;
	float: left;
	margin-right: 50px;
	margin-top: 0px;
	// margin-left: 16%;

  	// -webkit-border-radius: 100px;
	// -mox-border-radius: 100px;
}
.intro-text{
	margin-left: 10%;
	color: #FFF;
	font-family: 'Lato', serif;
	font-size: 1.1vw;
}

h1{
	font-size: 5.2vw;
}
p.motto{
	font-size: 1.6vw;
	font-style: italic;
	color: #B8B8B8;
}
p.block{
	margin: 40px;
}
.box{
	margin-left: 5%;
	text-align: left;
	display:inline-block;
    margin-left: 30px;
    max-width: 35%;

}

//For when the screen gets too small and text is too large for it




