$maxpicwidth: 352px;
$darkblue: #346183;
$darkerblue: #121d24;



//*******************************************************
//About Page
//*******************************************************

.bg{
	background: url(sbg_cube_darkblur.jpg) repeat fixed;
	background-size: 100%;
	background-position: -5px -5px;
}

.about_table{
	table-layout: fixed;
}

td.pic{
	width: 30%;
}
td.text{
	width: 60%;
}

.centerpiece_about{
	background: rgba(8, 74, 114, 0.25);
	padding: 26px 26px;

}
.centerpiece_about {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: auto;
	padding-left: 20%;
	padding-right: 20%;

}

.profile-picture{
	// width: $maxlength;
	// height: $maxlength;
	border-radius: 300px;
    max-width: 100%;
	float: left;
	margin-right: 50px;
	margin-top: 0px;
	// margin-left: 16%;

  	// -webkit-border-radius: 100px;
	// -mox-border-radius: 100px;
}
.intro-text{
	margin-left: 10%;
	color: #FFF;
	font-family: 'Lato', serif;
	font-size: 1.2vw;
}
h1{
	font-size: 5.4vw;
}
p.motto{
	font-size: 1.8vw;
	font-style: italic;
	color: #B8B8B8;
}
p.block{
	margin: 40px;
}
.box{
	margin-left: 5%;
	text-align: left;
	display:inline-block;
    margin-left: 30px;
    max-width: 35%;

}

//For when the screen gets too small and text is too large for it




//*******************************************************
//Projects Page
//*******************************************************

h1.proj{
	font-size: 5.5vw;
	margin-left: 2.5vw;
}
h2{	
	font-size: 2.6vw;
	margin-right: 10px;
	margin-bottom: 20px;
}
.centerpiece_project {
	// margin-left: 6%;
	// margin-right: 6%;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

.proj_pic_wrapper{
	padding-top: 3vw;
	padding-left: 4vw;
}

.proj_vert_cell_img{
	background: rgba(8, 74, 114, 0.5);
	height: 16vw;
	margin-bottom: 40px;
	//Aligns with title
	margin-left: -2.7vw; 
	-webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 0.5s; /* Firefox < 16 */
        -ms-animation: fadeout 0.5s; /* Internet Explorer */
         -o-animation: fadeout 0.5s; /* Opera < 12.1 */
            animation: fadeout 0.5s;
}

.proj_vert_cell_img:hover{
	background: rgba(63, 15, 122, 0.5);
	height: 16vw;
	margin-bottom: 40px;
	//Aligns with title
	margin-left: -2.7vw; 
	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;

}

.container {
	margin-top: 0px;
	margin-left: 0px;

}
.proj_vert_cell{
	height: 18vw;
}

.projecttile {
	width: 1.77*16.5vw;
	height:1*16.5vw;

	margin-left: -1vw;
	padding-bottom: 10px;
	margin-top: -1vw;
} 	

// @media (max-width: 995px) {
//     .projecttile{
//         width: 73vw;
// 		height: 41vw;
//     }
// }


.empty{
	height : 170px;
}
body.backgradient{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient($darkerblue, $darkblue ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($darkerblue, $darkblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($darkerblue, $darkblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient($darkerblue, $darkblue); /* Standard syntax (must be last) */
}
