$maxpicwidth: 352px;
$darkblue: #346183;
$darkerblue: #121d24;

//*******************************************************
//About Page
//*******************************************************

.bg{
	background: url(sbg_cube_darkblur.jpg) repeat fixed;
	background-size: 100%;
	background-position: -5px -5px;
}

.about_table{
	table-layout: fixed;
}
td.pic{
	width: 30%;
}
td.text{
	width: 60%;
}

.centerpiece_about {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: auto;
	padding-left: 20%;
	padding-right: 20%;

}

.profile-picture{
	// width: $maxlength;
	// height: $maxlength;
	border-radius: 300px;
    max-width: 100%;
	float: left;
	margin-right: 50px;
	margin-top: 0px;
	// margin-left: 16%;

  	// -webkit-border-radius: 100px;
	// -mox-border-radius: 100px;
}
.intro-text{
	margin-left: 10%;
	color: #FFF;
	font-family: 'Lato', serif;
	font-size: 18px;
}
h1{
	font-size: 50px;
}
p.motto{
	font-size: 30px;
	font-style: italic;
	color: #B8B8B8;
}
p.block{
	margin: 40px;
}
.box{
	margin-left: 5%;
	text-align: left;
	display:inline-block;
    margin-left: 30px;
    max-width: 35%;

}

//*******************************************************
//Projects Page
//*******************************************************

h2{

}
.centerpiece_project {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
}

.container {
	margin-top: 0px;
	margin-left: 0px;

}
.projecttile {
	width: 100%;
	height: 100%;
	
	
	margin-right: 10px;
	margin-bottom: 20px;

}
.empty{
	height : 170px;
}
body.backgradient{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient($darkerblue, $darkblue ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($darkerblue, $darkblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($darkerblue, $darkblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient($darkerblue, $darkblue); /* Standard syntax (must be last) */
}









