$maxpicwidth: 352px;


//*******************************************************
//About Page
//*******************************************************

.about_table{
	table-layout: fixed;
}
td.pic{
	width: 30%;
}
td.text{
	width: 60%;
}

.centerpiece_about {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: auto;
	padding-left: 20%;
	padding-right: 20%;

}

.profile-picture{
	// width: $maxlength;
	// height: $maxlength;
	border-radius: 300px;
    max-width: 100%;
	float: left;
	margin-right: 50px;
	margin-top: 0px;
	// margin-left: 16%;

  	// -webkit-border-radius: 100px;
	// -mox-border-radius: 100px;
}
.intro-text{
	margin-left: 10%;
	color: #FFF;
	font-family: 'Lato', serif;
	font-size: 18px;
}
h1{
	font-size: 50px;
}
p.motto{
	font-size: 30px;
	font-style: italic;
	color: #B8B8B8;
}
p.block{
	margin: 40px;
}
.box{
	margin-left: 5%;
	text-align: left;
	display:inline-block;
    margin-left: 30px;
    max-width: 35%;

}

//*******************************************************
//Projects
//*******************************************************

h2{

}
.centerpiece_project {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: auto;
	padding-left: 10%;
	padding-right: 10%;
}

.container {
	margin-top: 10px;
	margin-left: 0px;

}
.projecttile {
	width: 302px;
	height: 170px;
	border: 2px solid;
	border-color: #000;
	border-radius:10px;
	margin-right: 20px;
	margin-bottom: 20px;

}
