$maxpicwidth: 352px;
$darkblue: #346183;
$darkerblue: #121d24;
//*******************************************************
//Projects Page
//*******************************************************

h1.proj{
	font-size: 5.5vw;
	margin-left: 2.5vw;
}
h2.proj{	
	font-size: 2.6vw;
	margin-right: 10px;
	margin-bottom: 70px;
}

.centerpiece_project {
	// margin-left: 6%;
	// margin-right: 6%;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

.proj_pic_wrapper{

}

.proj_vert_cell_img{
	background: rgba(8, 74, 114, 0.5);
	height: 16vw;
	margin-bottom: 40px;
	//Aligns with title
	margin-left: 1.6vw; 
	-webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 0.5s; /* Firefox < 16 */
        -ms-animation: fadeout 0.5s; /* Internet Explorer */
         -o-animation: fadeout 0.5s; /* Opera < 12.1 */
            animation: fadeout 0.5s;
}

.proj_vert_cell_img:hover{
	background: rgba(63, 15, 122, 0.5);
	height: 16vw;
	margin-bottom: 40px;
	//Aligns with title
	margin-left: 1.6vw; 
	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

.container {
	margin-top: 0px;
	margin-left: 0px;

}
.proj_vert_cell{
	height: 18vw;
}

.projecttile {
	width: 1.77*16.5vw;
	height:1*16.5vw;

	margin-left: -1vw;
	padding-bottom: 10px;
	margin-top: -1vw;

	transition: transform 0.4s;
} 

.empty{
	height : 170px;
}
body.backgradient{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient($darkerblue, $darkblue ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($darkerblue, $darkblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($darkerblue, $darkblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient($darkerblue, $darkblue); /* Standard syntax (must be last) */
}

//Popups
.figure{
}