//*******************************************************
//SPUR
//*******************************************************
.allWrap {
	margin-top: 3%;
	margin-left: 8%;
	margin-right: 6%;
}
.row{
	padding-bottom: 20px;
}
.bigTitle{
	font-size:100px;
	margin-left: 3.2%;
	padding-bottom:10px;
}
.subBigTitle{
	font-size:30px;
	margin-left: 3.2%;
	padding-bottom:10px;
	color: #B8B8B8;
	font-style: italic;
}

//=======================================================
.mediaContainer, .videoSide{
	background: rgba(21, 137, 209, 0.5);
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 40px;
	padding-bottom: 40px;

	margin-right: 10%;
	margin-left: 0;
	margin-bottom: 15px;
}
.videoSide{
	text-align: center;
}

.videoMain{
	text-align: center;
	background: rgba(21, 137, 209, 0.5);
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 40px;
	padding-bottom: 40px;

	margin-right: 4.2vw;
	margin-left: 2.1vw;
	margin-bottom: 15px;
}

.container{
	margin-left: auto;
	margin-right: auto;
}

.carouImage{

}

.carousel-inner > .item > img {
    margin: 0 auto;
}
//=======================================================
.bulletContainer{
	background: rgba(32, 103, 227, 0.4);
	padding-right: 5%;
	padding-left: 3%;
	padding-top: 40px;
	padding-bottom: 10px;

	margin-right: 10%;
	margin-left: 0;
	margin-bottom: 15px;
}

.event_banner{
	width: 100%;
	background: rgba(255, 255, 255, 1);

	margin-right: 3%;
	

}

.left_img, .right_descrip{
    display:table !important;
    table-layout: fixed;
    height:6vw;
}
.ci_cont, .iconBriefContainer{
	display:table-cell;
    vertical-align:middle;
}

.iconBriefContainer{
	font-size: 20px !important;
}

ul.team_members, li.team_members{
    list-style-position:inside;
    margin:0;
    padding:0; 
}

ul.film_members, li.film_members{
    list-style-position:inside;
    margin:0;
    padding:0; 
    list-style-type: none;
}


.circle_icon{
	width: 5vw;
	height: 5vw;
}

#circle {
	width: 100px;
	height: 100px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
//=======================================================
.descriptionContainer{
	background: rgba(8, 74, 114, 0.5);
	padding-right: 5%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-top: 2%;
	margin-left: 5%;
	font-size: 18px;
}

.descSubtitle{
	font-size: 30px;
	padding-bottom: 5px;
	padding-left: 15px;
}

.descElab{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
}


@media (max-width: 995px) {
    .mediaContainer
    {
		background: rgba(21, 137, 209, 0.5);

		padding-right: 5%;
		padding-left: 5%;
		padding-top: 40px;
		padding-bottom: 40px;

		margin-bottom: 15px;
		margin-left: 5%;

	}
	.bulletContainer{
		background: rgba(32, 103, 227, 0.4);
		padding-right: 5%;
		padding-left: 3%;
		padding-top: 40px;
		padding-bottom: 10px;

		margin-bottom: 15px;
		margin-left: 5%;
	}
	.descriptionContainer{
		background: rgba(8, 74, 114, 0.5);
		padding-right: 5%;
		padding-left: 2%;
		padding-bottom: 2%;
		padding-top: 2%;
		margin-bottom: 15px;
		margin-right: 10%;
	}
}

.projTitle{
	width: 60%;
	margin-left: 2.8vw;
}