$maxpicwidth: 352px;
$darkblue: #346183;
$darkerblue: #121d24;
//*******************************************************
//Projects Page
//*******************************************************

h1.proj{
	font-size: 5.5vw;
	margin-left: 2.5vw;
}
h2.proj{	
	font-size: 2.6vw;
	margin-right: 10px;
	margin-bottom: 70px;
}

.centerpiece_project {
	// margin-left: 6%;
	// margin-right: 6%;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

.proj_pic_wrapper{

}

.proj_vert_cell_img{
	background: rgba(8, 74, 114, 0.5);
	height: 16vw;
	margin-bottom: 40px;
	//Aligns with title
	margin-left: 1.6vw; 
	-webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeout 0.5s; /* Firefox < 16 */
	-ms-animation: fadeout 0.5s; /* Internet Explorer */
	-o-animation: fadeout 0.5s; /* Opera < 12.1 */
	animation: fadeout 0.5s;
}

.proj_vert_cell_img:hover{
	background: rgba(63, 15, 122, 0.5);
	height: 16vw;
	margin-bottom: 40px;
	//Aligns with title
	margin-left: 1.6vw; 
	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 0.5s; /* Firefox < 16 */
	-ms-animation: fadein 0.5s; /* Internet Explorer */
	-o-animation: fadein 0.5s; /* Opera < 12.1 */
	animation: fadein 0.5s;
}

.container {
	margin-top: 0px;
	margin-left: 0px;

}
.proj_vert_cell{
	height: 18vw;
}

.tile{
	width: 1.77*16.5vw;
	height:1*16.5vw;

	margin-left: -0.7vw;
	margin-top: -1.5vw;
	perspective: 1700px;
	perspective-origin: 0 50%;
}

.tile figure{
	transform-style: preserve-3d;
}


.tile figcaption{
	height: 16.5vw;
	width: 40%;
	margin-top: -16.5vw;
	opacity: 1;
	transform-origin: 0 0;
	transform: rotateY(-90deg);
	transition: transform 0.3s, opacity 0.1s 0.3s;
	background: rgba(8,147,207,0.7);
}


.projecttile {
	width: 1.77*16.5vw;
	height:1*16.5vw;
	overflow: hidden;
} 

p.panel_h1{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.5vw;
	margin-left: 1vw;
	padding-top:1vw;
	color: #D0F2F7;
	text-shadow: 0.2vw 0.2vw #365480;
}

p.panel_h2{
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 0.95vw;
	margin-left: 1vw;
	padding-top:1vw;
	color: #CCCCCC;
	text-shadow: 0.1vw 0.1vw #365480;

}
.no-touch .tile figure:hover figcaption,
.tile figure:hover figcaption{
	opacity: 1;
	transform: rotateY(0deg);
	transition: transform 0.4s, opacity 0.1s;
}
.paneltile{
	width: 3.2vw;
	height: 3.2vw;
	margin-left: 1vw;
	padding-top:0.2vw;
	box-shadow: 0.2vw 0.2vw rgba(0,0,0,0.6);
	-moz-box-shadow: 0.2vw 0.2vw rgba(0,0,0,0.6); 
	-webkit-box-shadow: 0.2vw 0.2vw  rgba(0,0,0,0.6); 
	-o-box-shadow: 0.2vw 0.2vw  rgba(0,0,0,0.6); 
	border-radius:100px;
}

.empty{
	height : 170px;
}
body.backgradient{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient($darkerblue, $darkblue ); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($darkerblue, $darkblue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($darkerblue, $darkblue); /* For Firefox 3.6 to 15 */
	background: linear-gradient($darkerblue, $darkblue); /* Standard syntax (must be last) */
}

@media (max-width: 1200px) {
	
	.proj_vert_cell_img{
		height:50vw;
	}
	h1.proj{
		font-size: 20vw;
		margin-left: 2.5vw;
	}
	h2.proj{	
		font-size: 8vw;
		margin-right: 10px;
		margin-bottom: 70px;
	}

	.proj_vert_cell_img{
		background: rgba(8, 74, 114, 0.5);
		height: 35.5vw;
		margin-bottom: 40px;
		//Aligns with title
		margin-left: 15vw; 
		margin-right: 15vw; 
		-webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadeout 0.5s; /* Firefox < 16 */
		-ms-animation: fadeout 0.5s; /* Internet Explorer */
		-o-animation: fadeout 0.5s; /* Opera < 12.1 */
		animation: fadeout 0.5s;
	}

	.proj_vert_cell_img:hover{
		background: rgba(63, 15, 122, 0.5);
		height: 35.5vw;
		margin-bottom: 40px;
		//Aligns with title
		margin-left: 15vw; 
		margin-right: 15vw; 
		-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 0.5s; /* Firefox < 16 */
		-ms-animation: fadein 0.5s; /* Internet Explorer */
		-o-animation: fadein 0.5s; /* Opera < 12.1 */
		animation: fadein 0.5s;
	}

	.projecttile {
		width: 62vw;
		height: 34.875vw;
	} 

	.tile{
		width: 70vw;
		height: 27vw;
		margin-left: -1vw;
		margin-top: -1.5vw;
		perspective: 1700px;
		perspective-origin: 0 50%;
	}

	.tile figcaption{
		height: 34.875vw;
		width: 40%;
		margin-top: -34.875vw;
		opacity: 1;
		transform-origin: 0 0;
		transform: rotateY(-90deg);
		transition: transform 0.3s, opacity 0.1s 0.3s;
		background: rgba(8,147,207,0.7);
	}


	p.panel_h1{
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 4vw;
		margin-left: 2vw;
		padding-top:1vw;
		color: #D0F2F7;
		text-shadow: 0.8vw 0.8vw #365480;
	}

	p.panel_h2{
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2.4vw;
		margin-left: 2vw;
		padding-top:1vw;
		color: #CCCCCC;
		text-shadow: 0.3vw 0.3vw #365480;

	}
	.paneltile{
		width: 7vw;
		height: 7vw;
		margin-left: 2vw;
		padding-top:0.2vw;
		box-shadow: 0.2vw 0.2vw rgba(0,0,0,0.6);
		-moz-box-shadow: 0.2vw 0.2vw rgba(0,0,0,0.6); 
		-webkit-box-shadow: 0.2vw 0.2vw  rgba(0,0,0,0.6); 
		-o-box-shadow: 0.2vw 0.2vw  rgba(0,0,0,0.6); 
		border-radius:100px;
	}
	.empty{
	height : 170px;
	}
}

@media (max-width: 600px) {
	
	.proj_vert_cell_img{
		height:50vw;
	}
	h1.proj{
		font-size: 20vw;
		margin-left: 2.5vw;
	}
	h2.proj{	
		font-size: 12vw;
		margin-right: 10px;
		margin-bottom: 70px;
	}

	.proj_vert_cell_img{
		background: rgba(8, 74, 114, 0.5);
		height: 49vw;
		margin-bottom: 40px;
		//Aligns with title
		margin-left: 1.6vw; 
		margin-right: 2.8vw; 
		-webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadeout 0.5s; /* Firefox < 16 */
		-ms-animation: fadeout 0.5s; /* Internet Explorer */
		-o-animation: fadeout 0.5s; /* Opera < 12.1 */
		animation: fadeout 0.5s;
	}

	.proj_vert_cell_img:hover{
		background: rgba(63, 15, 122, 0.5);
		height: 49vw;
		margin-bottom: 40px;
		//Aligns with title
		margin-left: 1.6vw; 
		margin-right: 2.8vw; 
		-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 0.5s; /* Firefox < 16 */
		-ms-animation: fadein 0.5s; /* Internet Explorer */
		-o-animation: fadein 0.5s; /* Opera < 12.1 */
		animation: fadein 0.5s;
	}

	.tile{
		width: 92vw;
		height: 52vw;
		margin-left: -1vw;
		margin-top: -1.5vw;
		perspective: 1700px;
		perspective-origin: 0 50%;
	}

	.tile figcaption{
		height: 48.64vw;
		width: 40%;
		margin-top: -48.65vw;
		opacity: 1;
		transform-origin: 0 0;
		transform: rotateY(-90deg);
		transition: transform 0.3s, opacity 0.1s 0.3s;
		background: rgba(8,147,207,0.7);
	}

	.projecttile {
		width: 86.5vw;
		height: 48.65vw;
	} 

	p.panel_h1{
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 5.6vw;
		margin-left: 2vw;
		padding-top:1vw;
		color: #D0F2F7;
		text-shadow: 0.8vw 0.8vw #365480;
	}

	p.panel_h2{
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 3vw;
		margin-left: 2vw;
		padding-top:1vw;
		color: #CCCCCC;
		text-shadow: 0.3vw 0.3vw #365480;

	}
	.paneltile{
		width: 10vw;
		height: 10vw;
		margin-left: 2vw;
		padding-top:0.2vw;
		box-shadow: 0.2vw 0.2vw rgba(0,0,0,0.6);
		-moz-box-shadow: 0.2vw 0.2vw rgba(0,0,0,0.6); 
		-webkit-box-shadow: 0.2vw 0.2vw  rgba(0,0,0,0.6); 
		-o-box-shadow: 0.2vw 0.2vw  rgba(0,0,0,0.6); 
		border-radius:100px;
	}
	.empty{
	height : 170px;
}
}